$standard-data-column-width: 2.5rem;

.td-standings-header {
  width: $standard-data-column-width;
  text-align: right;

  &.division {
    width: 14rem;
    text-align: left;
  }
}

.td-standings {
  text-align: right;

  &.team {
    text-align: left;
  }
}