<div class="mlb-standings">
  <p>Standings</p>

  <table>
    <th>
      <td class="td-standings-header-team">Team</td>
      <td class="td-standings-header-wins">W</td>
      <td class="td-standings-header-losses">L</td>
      <td class="td-standings-header-percentage">Pct.</td>
    </th>
    <tr>
      <td class="td-standings-team"></td>
      <td class="td-standings-wins"></td>
      <td class="td-standings-losses"></td>
      <td class="td-standings-percentage"></td>
    </tr>
  </table>
</div>
